{
  "extends": "eslint-config-airbnb",
  "env": {
    "browser": true,
    "mocha": true,
    "node": true
  },
  "ecmaFeatures": {
    "experimentalObjectRestSpread": true
  },
  "rules": {
    "comma-dangle": [2, "never"],
    "padded-blocks": 0,
    // indent 4 spaces
    "indent": [2, 4, {"SwitchCase": 1}]
  },
  "plugins": [
    "react"
  ]
}
